.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);

  /* better centering */
  display: flex;
  flex-direction: column;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Centered form */
  width: 48rem;
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ---------- RESPONSIVE PART ---------- */

/* Tablet */
@media (max-width: 768px) {
  .login {
    margin: 2rem;
    padding: 2rem 3rem;
  }

  .form {
    padding: 2rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .login {
    margin: 1rem;
    padding: 1.5rem;
    min-height: calc(100vh - 2rem);
  }

  .form {
    width: 100%;
    padding: 1.5rem;
    gap: 1.5rem;
  }
}
