.cityList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

/* Hide scrollbar */
.cityList::-webkit-scrollbar {
  width: 0;
}

/* ---------- RESPONSIVE PART ---------- */

/* Tablet */
@media (max-width: 768px) {
  .cityList {
    height: 60vh;
    gap: 1.2rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .cityList {
    height: 55vh;
    gap: 1rem;
  }
}
