.countryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;

  font-size: 1.7rem;
  font-weight: 600;

  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--1);
}

.countryItem span:first-child {
  font-size: 3rem;
  line-height: 1;
}

/* ---------- RESPONSIVE PART ---------- */

/* Tablet */
@media (max-width: 768px) {
  .countryItem {
    font-size: 1.5rem;
    padding: 0.9rem 1.5rem;
  }

  .countryItem span:first-child {
    font-size: 2.5rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .countryItem {
    font-size: 1.3rem;
    padding: 0.8rem 1.2rem;
    gap: 0.1rem;
  }

  .countryItem span:first-child {
    font-size: 2.2rem;
  }
}
