.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
  text-align: center;
}

/* ---------- RESPONSIVE PART ---------- */

/* Tablet */
@media (max-width: 768px) {
  .copyright {
    font-size: 1.1rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .copyright {
    font-size: 1rem;
    padding: 0.8rem 0;
  }
}
