.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4.8rem);
}

/* Footer */
.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

/* ---------- RESPONSIVE PART ---------- */

/* Tablet */
@media (max-width: 768px) {
  .sidebar {
    flex-basis: 40rem;
    padding: 2rem 3rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .sidebar {
    flex-basis: auto;
    width: 100%;
    height: auto;
    padding: 1.8rem;
  }

  .copyright {
    font-size: 1rem;
    text-align: center;
  }
}
